<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <legend class="mat-h3">Change password</legend>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required>
        <button matSuffix mat-icon-button disabled=true><mat-icon>email</mat-icon></button>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Old password</mat-label>
        <input type="password" matInput formControlName="oldPassword" required>
        <button matSuffix mat-icon-button disabled=true><mat-icon>vpn_key</mat-icon></button>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="newPassword" required>
        <button matSuffix mat-icon-button disabled=true><mat-icon>vpn_key</mat-icon></button>
    </mat-form-field>

    <br><br>
    <button mat-raised-button color="accent" type=submit [disabled]="!changePasswordForm.valid">Submit</button>
</form>