<form [formGroup]="deleteAccountForm" (ngSubmit)="onSubmit()">
    <legend class="mat-h3">Change password</legend>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required>
        <button matSuffix mat-icon-button disabled=true><mat-icon>email</mat-icon></button>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
        <button matSuffix mat-icon-button disabled=true><mat-icon>vpn_key</mat-icon></button>
    </mat-form-field>

    <br>

    <button mat-raised-button color="accent" type=submit [disabled]="!deleteAccountForm.valid">Submit</button>
</form>